.home .poetry{
  padding-top:10em
}
.list-item-title {
  font-size: 1.1em;
}
blockquote {
    color: var(--color-contrast-medium);
    margin-left: 0;
    margin-right: 0;
    padding: 1.2em 1.5em 1.2em 2.8em;
    border-left-width: 8px;
    border-radius: 3px;
    line-height: 1.6;
    position: relative;
    background: var(--color-contrast-lower);
}
blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 15px;
    top: -10px;
}
